In [1]:
# Author  : Karthikeyan Rasipalayam Durairaj 
# Dataset : HTTP requests to the NASA Kennedy Space Centerâ€”is freely available 
#https://www.kaggle.com/gagandeep16/car-sales

In [2]:
# import packages
from pyspark.sql import SparkSession, HiveContext, SQLContext
from pyspark.sql.functions import when, desc
from pyspark.sql.types import *
from pyspark.sql import Row, functions as F
from pyspark.sql.functions import to_date, trunc, unix_timestamp, date_format
from pyspark.sql.window import Window
from datetime import datetime
import pandas as pd
from pyspark import SparkContext, SparkConf
from pyspark.sql.functions import regexp_extract
from IPython.display import display
import matplotlib
import matplotlib.pyplot as plt
import pyspark.sql.functions as F
from pyspark.sql.functions import count, col 
from pyspark.sql.functions import row_number
from pyspark.sql.window import Window

In [3]:
base_df = spark.read.csv("dbfs:/FileStore/tables/Car_sales.csv",header = True)

In [4]:
base_df.printSchema()

In [5]:
base_df.show()

In [6]:
w_all = Window().partitionBy().orderBy(col("Sales_in_thousands").desc())

(base_df
  .withColumn("rn", row_number().over(w_all))
  .where(col("rn") == 1)
  .select("Manufacturer", "Model","Sales_in_thousands")).show()

In [7]:


w = Window().partitionBy("Manufacturer").orderBy(col("Sales_in_thousands").desc())

(base_df
  .withColumn("rn", row_number().over(w))
  .where(col("rn") == 1)
  .select("Manufacturer", "Model","Sales_in_thousands")).show()